@mixin grid-center {
  display: grid;
  justify-items: center;
  align-items: center;
}

.item-post {
  @include grid-center;
  @media screen and (min-width: 481px) {
    grid-template-columns: 8.44em auto;
  }

  &__img {
    @media screen and (min-width: 320px) {
      margin-bottom: 1.4em;
    }
    @media screen and (min-width: 481px) {
      margin-bottom: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 481px) {
      max-width: 36em;
      align-items: flex-start;
    }
    @media screen and (min-width: 993px) {
      max-width: 25em;
      align-items: flex-start;
    }
  }

  &__title {
    font-family: Montserrat;
    font-size: 1em;
    color: #323232;
    @media screen and (min-width: 320px) {
      margin-bottom: 0.99em;
    }
    @media screen and (min-width: 481px) {
      margin-bottom: 1em;
    }
    @media screen and (min-width: 993px) {
      margin-bottom: 1.05em;
    }
  }
  &__text {
    font-family: Lato;
    font-size: 0.875em;
    line-height: 1.6;
    color: #848E97;
    text-align: center;
    @media screen and (min-width: 481px) {
      text-align: left;
    }
  }
}

