
.fork-app {
  background: url("../img/head/img_1.jpg") 50% 80% no-repeat;
  background-size: cover;
  padding: 50px 0 340px;

  @media screen and (min-width: 993px) {
    padding: 50px 0 340px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    @media screen and (min-width: 481px) {
      font-size: 4.5em;
    }
    @media screen and (min-width: 993px) {
      font-size: 5.125em;
    }
  }

  &__subtitle {
    margin-bottom: 15px;
    font-family: Montserrat, sans-serif;
    font-size: 1.125em;
    line-height: 1.5em;
    text-align: center;
    text-transform: capitalize;
    color: #8D81AC;
    @media screen and (min-width: 481px) {
      font-size: 1.5em;
    }
    @media screen and (min-width: 993px) {
      font-size: 1.875em;
    }
  }

  &__text {
    font-family: Montserrat, sans-serif;
    font-size: 0.875em;
    text-align: center;
    text-transform: uppercase;
    color: #848E97;
    @media screen and (min-width: 993px) {
      font-size: 1em;
    }
  }
}

.fork-app__download-free {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(390px);

  &__btn {
    cursor: pointer;
    padding: 13px 30px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 1.125em;
    text-align: center;
    color: #FFFFFF;
    background: #8D81AC;
    border: transparent;
    border-radius: 40px;
  }

  &__lead {
    margin-top: 13px;
    font-family: Montserrat, sans-serif;
    font-size: 0.875em;
    text-align: center;
    color: #848E97;
  }
}

