.head {
  background-color: #27262A;

  position: relative;
  padding: 34px 0 32px;
  width: 100%;
  @media screen and (min-width: 481px) {
    padding-bottom: 18px;
  }
  @media screen and (min-width: 993px) {
    margin: 0 auto;
    background: #010005;
    box-shadow: 0 2px 0 #010005;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and (min-width: 481px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
    }
    @media screen and (min-width: 993px) {
      max-width: 1200px;
      width: 80%;
      margin: 0 auto;
      flex-wrap: nowrap;
    }
  }

  &__logo {
    margin-left: 16px;
  }

  &__btn {
    margin: 0 50px;
    cursor: pointer;
    background-color: #8D81AC;
    width: 120px;
    padding: 13px 0;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 0.9375em;
    text-transform: capitalize;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 45px;

    @media screen and (min-width: 481px) {
      margin: 0 2.6%;
    }
    @media screen and (min-width: 993px) {
      margin: 0;
      order: 2;
    }
  }
  &__btn:hover{
    background-color: #ffffff;
    color: #8D81AC;
    border: 1px solid #8D81AC
  }

  &__burger-toggle {
    margin: 0 15px 0 0;
    position: relative;
    @media screen and (min-width: 481px) {
      display: none;
    }
  }

  &__nav {
    position: absolute;
    right: 13px;
    bottom: 1000px;
    transform: translateY(100%);
  }
}


.nav {
  background-color: #3B3B3B;
  width: 290px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 481px) {
    position: static;
    display: flex;
    flex-direction: row;
    width: 100%;
    transform: none;
    align-items: center;
    align-content: center;
    background-color: #27262A;
    margin: 30px 10% 0;
    justify-content: space-between;
  }
  @media screen and (min-width: 993px) {
    background: none;
    flex-basis: 68%;
    margin: 0;
    justify-content: flex-end;
  }

  &__item {
    background-color: #333333;
    padding: 35px 0 25px;
    margin-bottom: 3px;
    @media screen and (min-width: 481px) {
      background-color: #27262A;
      padding: 0;
      margin-bottom: 0;
    }
    @media screen and (min-width: 993px) {
      background: none;
      padding-right: 4%;
    }

    &_last-child {
      margin-bottom: 0;
      padding: 0;
      height: 14px;
      @media screen and (min-width: 481px) {
        display: none;
      }
    }
  }

  &__link {
    padding: 13px 0 13px 25px;
    font-family: Montserrat, sans-serif;
    font-size: 1.625em;
    color: #FFFFFF;
    text-transform: capitalize;
    border-left: 8px solid transparent;
    @media screen and (min-width: 481px) {
      font-weight: bold;
      font-size: 1em;
      line-height: 18px;
      color: #8D81AC;
      padding: 0;
      border: none;
    }
  }

  &__link:hover {
    color: #8D81AC;
    border-color: #8D81AC;
    @media screen and (min-width: 481px) {
      color: #FFFFFF;
    }
  }

  &-active {
    bottom: 0;

  }
}

.logo {
  display: flex;
  align-items: center;

  &__icons {
    display: inline-block;
    width: 45px;
    height: 43px;
    background: url("../img/head/logo_sprites.png") no-repeat -71px -11px;
  }

  &__icons:hover {
    background-position: -8px -11px;
  }

  &__text {
    @media screen and (min-width: 320px) {
      display: none;
    }
    @media screen and (min-width: 481px) {
      display: inline;
      margin-left: 17px;
      font-family: Lato, sans-serif;
      font-weight: bold;
      font-size: 1.5em;
      align-items: center;
      text-transform: uppercase;
      color: #8D81AC;
    }
  }

  &__text:hover {
    color: #FFFFFF;
  }
}

.burger-toggle {
  width: 26px;
  height: 22px;
  background-color: #27262A;
  border: 0;
  overflow: hidden;
  cursor: pointer;

  &__line {
    position: absolute;
    width: 26px;
    height: 3px;
    background-color: #ffffff;
    left: 50%;
    top: 50%;
    transition: all 0.2s ease;
    transform: translateX(-50%) translateY(-50%);

    &_first-child {
      width: 15px;
      transform: translateX(-14%) translateY(calc(-50% - 6px));
    }

    &_last-child {
      transform: translateX(-50%) translateY(calc(-50% + 6px));
    }
  }

  &_active {
    & .burger-toggle__line {
      transform: translateX(-200%) translateY(-50%);
      opacity: 0;
    }

    & .burger-toggle__line_first-child {
      transform: translateX(-50%) translateY(calc(-50%)) rotate(45deg);
      opacity: 1;
      width: 26px;
      height: 2px;
    }

    & .burger-toggle__line_last-child {
      transform: translateX(-50%) translateY(calc(-50%)) rotate(-45deg);
      opacity: 1;
      width: 26px;
      height: 2px;
    }
  }
}
