$main-color: #8D81AC;

.news {
  font-size: 16px;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 0 0.625em 1.44em;
  @media screen and (min-width: 993px) {
    background-color: #F4F4F4;
    padding-top: 6em;
    grid-template-rows: 3.75em auto;
  }
  &__bgc {
    @media screen and (min-width: 993px) {
      background-color: #F4F4F4;
    }
  }

  &__title {
    font-family: Montserrat;
    font-weight: 700;
    line-height: 1.3;
    color: $main-color;
    @media screen and (min-width: 320px) {
      font-size: 2em;
      text-align: center;
      margin-bottom: 1.2em;
      max-width: 85%;
    }
    @media screen and (min-width: 481px) and (max-width: 992px){
      font-size: 2.625em;
      max-width: 100%;
    }
    @media screen and (min-width: 993px){
      font-size: 3em;
      justify-self: start;
      max-width: 100%;
      margin-bottom: 0;
    }
  }
  &__items {
    display: grid;
    @media screen and (min-width: 320px) {
      grid-row-gap: 2.5em;
      margin-bottom: 2.5em;
    }
    @media screen and (min-width: 481px) {
      grid-row-gap: 3.75em;
      margin-bottom: 3.75em;
    }
    @media screen and (min-width: 993px) {
      grid-row-gap: 3em;
      margin-bottom: 3em;
    }
  }
  &__picture {
    background: url('../img/here_is_what_you_get/editor_1.jpg') no-repeat;
    margin-right: -0.625em;
    justify-self: end;
    box-shadow: -4px -4px 8px 2px rgba(141, 129, 172, 0.3);
    @media screen and (min-width: 320px) and (max-width: 480px) {
      background-size: 180% auto;
      min-width: 92%;
      min-height: 21.6em;
    }
    @media screen and (min-width: 481px) {
      background-size: cover;
      min-width: 90%;
      min-height: 29.5em;
    }
    @media screen and (min-width: 993px) {
      min-width: 100%;
    }
  }
}

@media screen and (min-width: 993px) {
  .grid-item-1 {
    grid-row: 1;
    grid-column: 2;
  }
  .grid-item-2 {
    grid-row: 1/span 2;
    grid-column: 1;
  }
}