@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.revolutionary {
  @include flex-center;
  flex-direction: column;
  @media screen and (min-width: 320px) {
    padding: 8.125em 10px 6.25em;
  }
  @media screen and (min-width: 481px) {
    padding: 10em 10px 8.75em;
  }
  @media screen and (min-width: 993px) {
    padding: 8.5em 10px 3.15em;
  }
  &__title {
    font-family: Montserrat;
    @media screen and (min-width: 320px) {
      font-size: 1.625em;
      margin-bottom: 1em;
    }
    @media screen and (min-width: 481px) {
      font-size: 2.625em;
      margin-bottom: 0.65em;
    }
    @media screen and (min-width: 993px) {
      font-size: 3.375em;
      margin-bottom: 0.76em;
    }
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #635C73;

  }
  &__subtitle {
    font-family: Lato;
    @media screen and (min-width: 320px) {
      font-size: 0.875em;
      max-width: 20em;
      margin-bottom: 2.5em;
    }
    @media screen and (min-width: 481px) {
      font-size: 1.313em;
      max-width: 42.8em;
      margin-bottom: 1.9em;
    }
    @media screen and (min-width: 993px) {
      max-width: 45em;
      margin-bottom: 1.4em;
    }
    text-align: center;
    color: #323232;
    line-height: 1.7;
  }
  &__socials {
    @include flex-center;
    flex-wrap: wrap;
    min-width: 250px;
    @media screen and (min-width: 395px){
      display: inherit;
      flex-wrap: nowrap;
    }
    &_item {
      margin-bottom: 20px;
      &:first-child {
        margin-right: 10px;
      }
      &:last-child {
        @media screen and (min-width: 381px) {
          margin-left: 10px;
        }
      }

    }
  }
}


