@import "fonts";
@import "sections/sections";
@import "components/components";


.page-wrap {
  display: grid;
  margin: 0 auto;
  //max-width: 1200px;
  font-size: 16px;
}

.container {
  @media screen and (min-width: 993px) {
    max-width: 1200px;
    margin: 0 auto;
  }
}
